<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    

    <main>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

        </div>
        <%- body %>

        <%- include('../partials/footer') %>
    </main>
</html>